.heading
{
    font-size:30px ;
    width:100% ;
    margin: 0px;
    box-shadow: 5px 5px 5px rgba(113, 54, 14, 0.981);
    color: rgb(9, 82, 17);
}

.note
{
    font-size: 20px;
    color: rgb(98, 83, 235);
}

.copyright_footer
{
    position: fixed;
    color: rgb(189, 240, 237);
    bottom: 0;
    width: 100%;
    background-color: rgb(109, 97, 214);
    line-height: 3;
    text-align: center;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

body
{
background-size:95%;
}